body {
    margin: 0;
    padding: 0;
}

.custom-bg {
    background: url('./assest/Header B.png') no-repeat center center;
    background-size: cover;
    background-color: rgba(16, 22, 32, 1);
    height: 60px;
}

.overlay {
    background: url('./overlay.png') no-repeat top;
    background-size: cover;
}

.promo-bar {
    background-color: rgba(235, 73, 62, 1);
}

.promo-heder {
    margin-left: 100px;
}

.promo-font {
    font-family: Montserrat;
    font-weight: 600;
}

.Social-icon {
    margin-right: 100px;
}

.login-btn {
    background-color: (235, 73, 62, 0.2);
    font-family: Montserrat;
}

.ragistration-btn {
    background-color: rgba(235, 73, 62, 1);
    font-family: Montserrat;

}

.section-text {

    font-family: Quicksand;
    font-weight: 700;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: -2%;
    text-align: center;
}

.resume-image {
    width: 80%;
}

.marquee {
    animation: scroll-left 15s linear infinite;
}

.font-text {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;

}

.ribbon-text-section {
    margin-top: 20px;
}

.custom-card {
    background-image: url('./assest/Subtract.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 100%;
    min-height: 250px;
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.3s ease;
}

.sem-card {
    background-image: url('./assest/Subtract (3).png');
    background-size: cover;
    background-position: center;
}

.sem-card:hover {
    transform: translateY(-5px);
}

.custom-card img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.custom-card:hover {
    transform: translateY(-5px);
}

.arrow-1 {
    background-color: rgba(35, 166, 153, 1);
}

.section {
    background: rgba(26, 32, 42, 1);

}
.text--orange{
    color: rgba(235, 73, 62, 1);
}

.line-bg{
    background-color: rgba(235, 73, 62, 1);
}

.number-bg{
    background-color: rgba(235, 73, 62, 1);
}


/* .icon-arror {
    margin-left: 270px;
    width: 50px;
    height: 50px;
    color: white;
    background: green;
    border-radius: 50%;
} */

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


@media (max-width: 768px) {
    .promo-heder {
        margin-left: 0px;
    }

    .Social-icon {
        margin-right: 0px;
    }

    .resume-image {
        width: 50%;
    }

}